# General
.DS_Store

# iOS
MoneyMoney.xcodeproj/project.xcworkspace/xcuserdata/monica.xcuserdatad/UserInterfaceState.xcuserstate
MoneyMoney.xcodeproj/xcuserdata/monica.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
